body {
    min-width: 196px;
    zoom: 125%;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #292929;
        --card-bg-color: #3a3a38;
        --main-light-onColor: #aeb4bd;
        --main-dark-onColor: #777676;
    }

    body {
        background-color: var(--main-bg-color);
        color: var(--main-light-onColor);
    }
    
    select, button {
        background-color: var(--card-bg-color);
        color: var(--main-light-onColor);
    }
    
    button:enabled {
        border: 1px solid var(--main-light-onColor);
    }

    button:disabled {
        color: var(--main-dark-onColor);
        border: 1px solid var(--main-dark-onColor);
    }
    
    button:enabled:hover {
        filter: brightness(1.15);
    }

    input[type='text'] {
        background-color: var(--card-bg-color);
        border: 1px solid var(--main-dark-onColor);
        color: var(--main-light-onColor);
    }
}
